
@import 'App';
.mdae-button {
    border-radius: 4px !important;
    border-color: $color-primary !important;
    color: $color-primary-dark!important;
    background-color: $color-primary-light !important;
    margin-left: 0.4em !important;
    font-weight: bold !important;
}